body {
  background-color: rgba(40, 128, 158, 0.753);
}

h1 {
  font-size: 20rem;
  color: aqua;
}
h2 {
  font-size: 3rem;
  color: blue;
}

.centro {
  display: grid;
  place-items: center; /* centra vertical y horizontalmente */
}

html,
body {
  height: 100%;
  margin: 0;
}

.centrodos {
  width: 100%;
  height: 100%;
  background-color: rgba(40, 128, 158, 0.753);
  display: flex;
  justify-content: center;
  align-items: center;
}
